extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 EYANJEM ETTA

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

       
        .portfolio-bio
          p
            | My name is Eyanjem, I am a full stack javascript developer.
            | I am a graduate of Drew university with a degree in physics, minor in mathematics and a focus in modern electonics.
            | My interest in the technical field grow stronger over the years as I moved through my educational advancements mainly because of my dad. 
            | He is one of my biggest motivators when it comes to my career choices, his guidance as an electrical engineer has thought me alot.    
            | I have always been one of those kids who enjoyed breaking toys apart and trying to put them back together, so it was only natural that I choose this path. 
            | Programing has always been of interest to me, as a matter of fact I enjoyed all the instances where I had to utilize it in building physics projects while in college.  
            | This is why, in my quest to learn more I stumbled on wordpress and worked on creating and hosting my very first interactive website. 
            | Working on that project showed me how much patience I had for programing so I decided since programing gives me the challenge I need in a career, it was only wise that I continue pushing myself.  
            | This led to my venture into full stack javascript development. I have learned alot from venturing into this learning path and I intend to keep pushing. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

       
        ul
          li Express
          li HTML
          li CSS
          li Node.js
          li JavaScript
          li Pug
          li jQuery
          li JSON
          li git
          li NPM
          li C++
        h6 Contact Info

        
        ul
          li 555-555-1234
          li eyanjemashu@yahoo.com

        
        a.button.expanded(href='https://www.linkedin.com' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/mysoloxo' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
